p {
    color: #581845;
}

a {
    color: #581845;
}

body {
    background-image: : url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQhAe5zgShi7-is0vjzYmN_Q9vHtcqWRvkXSyDBnXY6bXxNZBPm);
}

body {
    font-family: Poiret One
}
